/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL */
body{
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
}

.wrapper{
	width: 960px;
	font-family: Arial;
	margin: 0 auto;
	position: relative;
}

.logo{
	margin: 38px 0px;
	display: inline-block;
}

ul{
	list-style-type: none;
	overflow: hidden;
}

a{
	text-decoration: none;
	color: #858585;
}

.right-header li{
	color: #858585;
	float: left;
	padding-right: 20px;
}

.right-header ul{
	margin-bottom: 48px;
}

.right-header li:last-child{
	padding-right: 0;
}

.right-header{
	float: right;
	margin-top: 26px;
	font-size: 13px;
}

.right-header li a:hover{
	text-decoration: underline; 
}

form{
	float: right;
	border-color: #63a2c6;
	border-style: solid;
	border-width: 6px 9px 4px 6px;
	border-top-left-radius : 5px;
	border-top-right-radius: 5px;
	position: relative;
}

input[type="text"]{
	padding-left: 25px;
	padding: 5px 5px 5px 30px;
}

input[type="submit"]{
	background: url('../img/search3.png');
	border: none;
	width: 25px;
	height: 20px;
	position: absolute;
	left: 2px;
	top: 3px;
	z-index: 1;
	cursor: pointer;
}

input::placeholder {
	color: #bdbdbd;
}

nav{
	border-top: 7px solid #5a9abe;
	padding: 15px 0;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93c3dd+0,8ebcd5+100 */
	background: #93c3dd; /* Old browsers */
	background: -moz-linear-gradient(top, #93c3dd 0%, #8ebcd5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #93c3dd 0%,#8ebcd5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #93c3dd 0%,#8ebcd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c3dd', endColorstr='#8ebcd5',GradientType=0 ); /* IE6-9 */
}

nav ul li{
	float: left;
	text-transform: uppercase;
	font-size: 15px;
	padding: 0px 15px;
}


nav li:first-child{
	padding-left: 15px;
}

nav ul li{
	border-right: 1px solid #5a9abe;
}

nav a{
	display: inline-block;
	color: white;
}

nav a:hover{
	text-decoration: underline;
}

main{
	overflow: hidden;
	background-color: #fff;
	padding-top: 7px;
}

main a{
	color: #3f3f3f;
}

aside{
	margin-left: 5px;
	margin-right: 10px;
	float: left;
}

aside h3{
	color: #3f3f3f;
	text-transform: uppercase;
	padding: 10px 0px;
	background-color: #dfdfdf;
	padding-left: 12px;
	font-size: 14px;
}

aside ul{
	padding: 10px;
}

aside .box{
	width: 193px; /*193px*/
	border: 1px solid #dfdfdf;
	font-size: 14px;
	margin-bottom: 6px;
}

aside li{
	padding-bottom: 10px;
}

.featured-products{
  	width: 193px;
  	border: 1px solid #dfdfdf;
  	text-align: center;
 }

 .featured-products h3{
  	margin-bottom: 15px;
  	text-align: left;
 }

 .featured-products img{
 	margin-bottom: 14px;
 }

.featured-products h4{
	font-size: 14px;
	font-weight: normal;
	color: #3f3f3f;
	margin-bottom: 16px;
}

.featured-products p{
	color: #4a89b5;
	font-size: 13px;
	margin-bottom: 22px;
}

.featured-products .view-all{
	color: #3f3f3f;
	font-size: 12px;
	margin-bottom: 17px;
	display: inline-block;
}

.products a,
.details a{ 
  	padding: 7px;
  	color: white;
  	border-radius: 5px;
  	display: inline-block;
  	margin-bottom: 30px;

  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d98c2+1,2e709f+100 */
  	background: #5d98c2; /* Old browsers */
  	background: -moz-linear-gradient(top, #5d98c2 1%, #2e709f 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, #5d98c2 1%,#2e709f 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, #5d98c2 1%,#2e709f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d98c2', endColorstr='#2e709f',GradientType=0 ); /* IE6-9 */
  }

.content{
	padding: 8px 13px 0px 10px;
	float: left;
	width: 725px;
}

ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #528bac;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: #528bac;
    content: ">";
}

ul.breadcrumb li a {
    color: #528bac;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #528bac;
    text-decoration: underline;
}

.displaying-products{
	font-size: 13px;
	color: #858585;
	display: inline-block;
}

.content .products li{
	text-align: center;
	padding-right: 27px;
	float:left;
}

.content ul li:nth-child(4n+4){
	padding-right: 0;
	display: block;
}

.content span{
	margin-bottom: 20px;
}

.content h4{
	font-size: 13px;
	color: #3f3f3f;
	font-weight: normal;
	margin-bottom: 14px;
}

.content p{
	color: #4a89b5;
	font-size: 13px;
	margin-bottom: 15px;
}

footer{
  	background-color: #5a9abe;
  	color: white;
  	font-size: 12px;
  	text-align: center;
  	border: 1px solid #5c8fac;
    padding: 28px 5px 32px 5px;
  }
