/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL */
body{
	background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.container{
	width: 960px;
	font-family: Arial;
	margin: 0 auto;
	background-color: #fff;
	position: relative;
}

.logo{
	margin: 38px 0px;
  display: inline-block;
}

header{
	background-color: #f1f1f1;
  width: 960px;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: #858585;
}

.menu  ul li .home:hover{
	text-decoration: underline;
}

.right-nav li{
	color: #858585;
	float: left;
	padding-right: 20px;
}

.right-nav ul{
  margin-bottom: 20px;
}

.right-nav li:last-child{
	padding-right: 0;
}

.right-nav{
	/*float: right;*/
	margin-top: 26px;
	font-size: 13px;
}

.right{
  float: right;
}

.right-nav li .login:hover{
	text-decoration: underline; /*login*/
}

input[type="text"]{
	border-color: #63a2c6;
	border-style: solid;
	border-width: 6px 9px 4px 6px;
	border-radius: 5px;
	/*position: relative;*/
	/*float: right;*/
	padding-left: 25px;
	width: 195px;
	height: 25px;
	position: relative;
	left: 271px;
	top: 95px;
}

input[type="submit"]{
	background: url('../img/search3.png');
	border: none;
	width: 25px;
	height: 20px;
	position: absolute;
	right: 204px;
	top: 103px;
	z-index: 1;
}

input::placeholder {
	padding-left: 5px;
	color: #bdbdbd;
}

input[type="submit"]::after{  /*/not working*/
	content: "|";
}

input:palceholder:before {  /*not working*/
	content:'|';
}

/*.search span{
	background: url('../img/search2.png');
	width: 20px;
	height: 20px;
	position: absolute;
}*/

.menu{
	width: 960px;
	height: 47px;
	border-top: 7px solid #5a9abe;
	/*padd ing-left: 17px;*/
	margin-bottom: 7px;
	/*display: flex;
  	justify-content: center;
  	align-items: center;*/


  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#93c3dd+0,8ebcd5+100 */
  	background: #93c3dd; /* Old browsers */
  	background: -moz-linear-gradient(top, #93c3dd 0%, #8ebcd5 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, #93c3dd 0%,#8ebcd5 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, #93c3dd 0%,#8ebcd5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93c3dd', endColorstr='#8ebcd5',GradientType=0 ); /* IE6-9 */
  }

  .menu ul li{
  	float: left;
  	text-transform: uppercase;
  	font-size: 15px;
  	/*padding: 12px 0px;*/
    padding: 15px 0px;
  }

  .menu li:first-child{
    padding-left: 15px;
  }

  .menu ul li + li::before {
  	content: " | ";
  	padding: 0px 15px 0px 15px;
  	color: #5d9cbf;
  }

  .menu li:last-child ::after {
  	content: " | ";
  	padding: 0px 15px 0px 15px;
  	color: #5d9cbf;
  }

  .menu a{
  	display: inline-block;
  	color: white;
  }

  nav{
  	overflow: hidden;
  }

  .left-side a{
  	color: #3f3f3f;
  }

  .left-side{ //
  	display: block;
  	width: 193px;
  	height: 233px;
  	border: 1px solid #dfdfdf;
  	font-size: 14px;
  	margin-left: 5px;
  	margin-bottom: 10px;
  }

  .left-side li{
  	padding-top: 10px;
  	padding-left: 10px;
  }

  .categories{
  	background-color: #dfdfdf;
  	color: #3f3f3f;
  	font-weight: bold;
  	padding-left: 0;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding-bottom: 10px;
  	text-transform: uppercase;
  }

  .info{
  	font-size: 14px;
  	color: #3f3f3f;
  	width: 193px;
  	height: 180px;
  	border: 1px solid #dfdfdf;
  	margin-left: 5px;
  	margin-bottom: 10px;
  }

  .info li{
  	padding-left: 10px;
  	padding-top: 10px;
  }

  .more-info{
  	color: black;
  	padding-bottom: 10px;
  	background-color: #dfdfdf;
  	padding-top: 10px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  }

  .more-info a{
  	color: #3f3f3f;
  	font-weight: bold;
  	text-transform: uppercase;
  }

  .info a{
  	color: #3f3f3f;

  }

  .products-heading{
  	text-transform: uppercase;
  	font-size: 14px;
  	background-color: #dfdfdf;
  	font-weight: bold;
  	padding-left: 0;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding-bottom: 10px;
  	padding-top: 10px;
  }

  .products-heading a{
  	color: #3f3f3f;

  }

  .products{
  	width: 193px;
  	/*height: 356px;*/
  	border: 1px solid #dfdfdf;
  	margin-left: 5px;
  }

  .products li{
  	padding-left: 10px;
  }

  .products span{
  	color: #4a89b5;
  	font-size: 13px;
  	margin-bottom: 20px;
  	display: inline-block;
	/*display: flex;
  	justify-content: center;
  	align-items: center;*/

  }

  .products{
  	text-align: center;
  }

  .products img{
  	margin: 17px 0px 17px 0px;
  }

  .products p{
  	font-size: 13px;
  	color: #3f3f3f;
  	margin-bottom: 14px;
  }

  .details{
  	margin-bottom: 30px;
  }

  .details a{
  	padding: 7px;
  	/*background-color: #4f8cb7;*/
  	color: white;
  	border-radius: 5px;
  	display: inline-block;

  	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d98c2+1,2e709f+100 */
  	background: #5d98c2; /* Old browsers */
  	background: -moz-linear-gradient(top, #5d98c2 1%, #2e709f 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, #5d98c2 1%,#2e709f 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, #5d98c2 1%,#2e709f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d98c2', endColorstr='#2e709f',GradientType=0 ); /* IE6-9 */
  }

  .left{
  	float: left;
  	margin-right: 8px;
  }

  .main{
  	margin-left: 10px;
  	padding-right: 13px;
  	display: inline;
  	width: 760px;
  	/*float: left;*/
  }

  .main h2{
  	color: #528bac;
  	font-weight: normal;
  	/*margin-bottom: 10px;*/
  }

  .main span{
  	font-size: 13px;
  	color: #858585;
  	margin-bottom: 24px;
  	display: block;
  }

  .main img{
  	margin-bottom: 7px;
  }

  .all-products{
  	width: 160px;
  	text-align: center;
  }

  .all-products p{
  	margin-bottom: 14px;
  }

  .all-products span{
  	margin-bottom: 18px;
  	display: inline-block;
  }

  .all-products .details{
  	margin-bottom: 45px;
  }

  .all-products{
  	display: inline;
  }

  .box{
  	/*dis play: inline;*/
  	float: left;
  	margin-right: 29px;
  }

  #fourth-img{
  	margin-right: 0;
  }

  .all-products span{
  	color: #4a89b5;
  }

  .footer{
  	width: 960px;
  	hei ght: 68px;
  	background-color: #5a9abe;
  	clear: both;
  	color: white;
  	font-size: 12px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	border: 1px solid #5c8fac;
    padding: 28px 0px 32px 0px;
  }