@media (max-width: 1050px) {
	.wrapper{
		width: 750px;
	}
	aside{
		width: 22%;
	}
	.content{
		width: 73%;
	}
	.content .products li{
		padding-right: 3%;
	}
	.content .products li:nth-child(4n+4){
		padding-right: 3%;
	}
	.content .products li:nth-child(3n+3){
		padding-right: 0;
	}
	.content .products{
		margin-left: 6%;
	}
	.content .breadcrumb,
	.content .displaying-products{
		margin-left: 6%;
	}
	nav li:nth-child(even),
	nav li:nth-child(odd)
	{
		padding: 0 9px;
	}
	nav ul{
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

@media (max-width: 767px) {
	.wrapper{
		width: auto;
	}
	header{
		text-align: center;
	}
	aside{
		margin-left: 0;
	}
	.logo{
		margin-top: 10px;
	}
	nav{
		padding: 0;
	}
	nav li{
		float: left;
		clear: left;
		width: 100%;
		text-align: center;
	}
	nav li a{
		padding: 5px;
	}
	.content .products li{
		width: 25%;
		padding-right: 4%;
		float: left;
	}
	.content{
		width: 100%;
		padding: 0 0 0 4%;
	}
	.right-header{
		float: none;
		margin-top: 0;
		text-align: left;
	}
	.right-header form{
		float: none;
		background-color: #fff;
	}
	.right-header input[type="text"]{
		border-right: none;
		border-top: none;
	}
	.right-header ul{
		margin-bottom: 4%;
		text-align: center;
	}
	aside{
		padding: 0 3%;
		float: none;
		width: auto;
		overflow: hidden;
	}
	aside .box{
		float: left;
		width: 30%;
		margin-right: 4%;
	}
	aside .box:last-child{
		margin-right: 0;
	}
	aside .box img{
		width: auto;
	}
	.content .breadcrumb{
		padding-top: 20px;
	}
	.content .products{
		text-align: center;
	}
	.content .products li{
		float: none;
		width: auto;
	}
}


@media (max-width: 680px) {
	.wrapper{
		width: auto;
		padding: 0 15px;
	}
	aside .box{
		width: auto;
		float: none;
		margin-right: 0;
	}
	aside .box img{
		width: auto;
	}
	.content img{
		width: auto;
	}
	.content .products li{
		width: 40%;
		padding-right: 4%;
		float: left;
	}
	.content .products li:nth-child(3n+3){
		padding-right: 4%;
	}
	.content .products li:nth-child(2n+2){
		padding-right: 4%;
	}
	.content{
		padding: 0;
		width: 100%;
		padding: 0 0 0 4%;
	}
}

@media (max-width: 450px) {
	.wrapper{
		width: auto;
	}
	img{
		width: auto;
	}
	.logo img{
		width: 90%;
	}
	aside .box{
		width: auto;
	}
	aside .box img{
		width: auto;
	}
	.content{
		padding: 0;
	}
	.content img{
		width: auto;
	}
	.content .products li{
		width: 100%;
	}
	.content .products li:nth-child(3n+3){
		padding-right: 0;
	}
	.content .breadcrumb li{
		font-size: 95%;
	}
	.content .displaying-products{
		font-size: 75%;
	}
}