@media (max-width: 1050px) {
	.wrapper{
		width: 750px;
	}
	aside{
		width: 22%; /*//28%*/
	}
	.content{
		width: 74%; /*//68%*/
	}
	.content .products li{
		margin-right: 0%;
		width: 33%;
	}
	.content .products li img{
		width: auto;
	}
	.content .products li:nth-child(4n+4){
		margin-right: 0%;
	}
	.content .products li:nth-child(3n+3){
		margin-right: 0;
	}
	.content .products li:nth-child(2n+2){
		margin-right: 0;
	}
	.content .breadcrumb,
	.content .displaying-products{
		margin-left: 2%;
	}
	nav li{
		width: 19%;
	}
	nav{
		width: 100%;
	}
	nav ul{
		width: 99%;
	}
	nav ul li:hover::after{
		opacity: 0;
	}
	main{
		margin-bottom: 0;
	}
}

@media (max-width: 767px) {
	.wrapper{
		width: auto;
	}
	header{
		text-align: center;
	}
	aside{
		padding: 0 3%;
		float: none;
		width: auto;
		overflow: hidden;
		margin-right: 0;
	}
	aside .box{
		float: none;
		width: auto;
		margin-right: 0%;
	}
	aside .box img{
		width: auto;
	}
	.content{
		width: auto;
		padding: 0;
		float: none;
	}
	.right-header{
		float: none;
		margin-top: 0;
		text-align: left;
	}
	.right-header form{
		float: none;
		background-color: #121212;
	}
	.right-header ul{
		padding: 10px 10px;
		text-align: center;
	}
	header .right-header form input[type="text"]{
		text-align: left;
	}
	.content .breadcrumb{
		padding-top: 10px;
	}
}

@media (max-width: 680px) {
	.wrapper{
		width: auto;
	}
	aside .box{
		width: auto;
		float: none;
		margin-right: 0;
	}
	.content .products li{
		width: 50%;
	}
	nav{
		width: auto;
	}
	nav li{
		float: left;
		clear: left;
		width: 100%;
		text-align: center;
	}
	.content img{
		width: auto;
	}
}

@media (max-width: 450px) {
	.wrapper{
		width: auto;
	}
	.content .products li{
		width: 100%;
	}
	.content .breadcrumb li{
		font-size: 95%;
	}
	.content .displaying-products{
		font-size: 75%;
	}
}