/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}

body{
	font-family: Arial;
	background-color: #525252;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}
.shell{
	background-color: #ffffff;
	border-radius: 10px;
}
a{
	text-decoration: none;
}

ul{
	list-style-type: none;
	overflow: hidden;
}

/* HEADER */
header{
	margin-top: 26px;
}

.right-header{
	overflow: hidden;
	float: right;
}

.logo{
	display: inline-block;
	margin-top: -12px;
	margin: -12px 0px 40px 12px;
}

.top-menu li{
	/*float: left;*/
	display: inline-block;
	/*padding-right: 27px;*/
	padding: 0 13px;
	text-align: center;
}

.top-menu li:last-child{
	padding-right: 16px;
}

.top-menu{
	margin-top: 15px;
	margin-bottom: 16px;
	border-bottom: 1px solid #B7B6B6;
	padding-bottom: 15px;
	padding-left: 59px;
}

.top-menu span:hover{
	text-decoration: underline;
}

.top-menu a{
	display: block;
}

span{
	display: block;
}

li img{
	margin-bottom: 5px;
}

li a{
	color: #494848;
	font-size: 13px;
}

form{
	position: relative;
}

.right-header input[type="text"]{
	padding: 5px 77px 5px 5px;
	border-radius: 10px;
	border: 1px solid #D5D6D6;
}

.right-header input[type="submit"]{
	padding: 2px 15px;
	border: 1px solid #000;
	background-color: #D2151B;
	color: #fff;
	border-radius: 3px;
	position: absolute;
	right: 2px;
	bottom: 3px;
	cursor: pointer;
}

.under-ul{
	float: right;
	margin-right: 10px;
}

.under-ul li{
	/*float: left;*/
	display: inline-block;
}

.under-ul img{
	margin-right: 15px;
	padding-top: 5px;
	position: relative;
	top: 4px;
}

.under-ul p{
	color: #b5121b;
	font-size: 24px;
	font-weight: bold;
	margin-right: 15px;
}

/* END HEADER */

/* NAVIGATION */
nav{
	margin: 0px 10px;
	border-radius: 10px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e9e9e9+0,dbdbdb+100 */
	background: #e9e9e9; /* Old browsers */
	background: -moz-linear-gradient(top, #e9e9e9 0%, #dbdbdb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e9e9e9 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e9e9e9 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

nav li{
	float: left;
	padding: 12px 13px; 
	border-right: 1px solid #C7C7C6;
}

nav li:last-child{
	border-right: none;
}

nav a{
	font-size: 15px;
	color: #5b5a5a;
}

nav a:hover{
	text-decoration: underline;
}
/* END NAVIGATION */

/* ASIDE */
aside{
	float: left;
	width: 220px;
}

aside h3{
	padding: 15px 15px 15px 14px;
	background-color: #000;
	font-size: 14px;
	color: #fff;
	border-radius: 7px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323232+0,020202+100 */
	background: #323232; /* Old browsers */
	background: -moz-linear-gradient(top, #323232 0%, #020202 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #323232 0%,#020202 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #323232 0%,#020202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#020202',GradientType=0 ); /* IE6-9 */
}

.box a{
	color: #3f3f3f;
	font-size: 13px;
}

.box ul{
	padding: 10px 10px 10px 14px;
}

.box li{
	padding-bottom: 6px;
}

.box:last-child li{
	padding-bottom: 20px;
}
/* END ASIDE */

/* BREADCRUMB */
ul.breadcrumb{
	padding-top: 5px;
}

ul.breadcrumb li{
	display: inline;
	color: #362c2d;
	font-size: 18px;
}

ul.breadcrumb li+li:before{
	padding: 5px 5px 0px 5px;
	content: ">";
}

ul.breadcrumb li a{
	color: #362c2d;
	font-size: 18px;
}

ul.breadcrumb li a:hover{
	text-decoration: underline;
}
/* END BREADCRUMB */

/* SPAN */
.content span{
	font-size: 13px;
	color: #858585;
	display: inline-block;
	margin-bottom: 27px;
}
/* END SPAN */

/* CONTENT */
.content{
	float: left;
	width: 710px;
	margin-left: 13px;
}

.products li{
	text-align: center;
	font-size: 13px;
	color: #000000;
	padding-bottom: 50px;
	float: left;
	padding-right: 50px;
	width: 139px;
}

.products li:nth-child(4n+4){
	padding-right: 0px;
}

.products img{
	margin-bottom: 12px;
}

.products strong{
	color: #000000;
	font-size: 16px;
	display: inline-block;
}

.products span{
	font-size: 12px;
	color: #000000;
	margin-bottom: 12px;
	display: block;
}

.products .price{
	font-size: 13px;
	color: #b5121b;
	font-weight: bold;
	display: inline-block;
}
/* END CONTENT */

/* MAIN */
main{
	overflow: hidden;
	margin: 14px 7px 20px 10px;
	background-color: #fff;
}
/* END MAIN */

/* FOOTER */
footer{
	width: 960px;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	overflow: hidden;
}

footer a{
	color: #fff;
}

footer ul{
	margin-bottom: 28px;
}

footer ul:first-child{
	padding-left: 16px;
}

.sign-up{
	padding-right: 0;
}

.row p{
	padding-bottom: 10px;
	display: inline-block;
	cursor: pointer;
}

.row input[type="text"]{
	padding: 4px 6px 4px 5px;
	position: relative;
	border-radius: 6px;
	width: 130px;
}

.row input[type="submit"]{
	position: absolute;
	background: url("../img/arrow2.png")no-repeat;
	background-position: 10px 4px;
	width: 43px;
	height: 27px;
	cursor: pointer;
	border: none;
	right: 0;
	bottom: 0;
}

.social-media li{
	display: inline-block;
	margin-top: 10px;
	padding-right: 4px;
}

footer li{
	padding-bottom: 5px;
	padding-right: 43px;
}

footer h4{
	font-weight: bold;
	padding-bottom: 5px;
}

.footer-pic li{
	display: inline-block;
	padding-right: 30px;
}

.footer-pic{
	text-align: center;
}

.row{
	float: left;
}
/* END FOOTER */