/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL */
body{
	font-family: Georgia;
	background-color: #000;
}

.wrapper{
	width: 960px;
	background: url('../img/background.png')no-repeat;
	margin: 0 auto;
	position: relative;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

header{
	background: url("../img/header-pic.png") no-repeat;
	background-position: 405px 18px;
}

header a{
	color: #e7d9bb;
}

header li{
	float: left;
}

ul{
	overflow: hidden;
}

header ul li + li::before {
	content: " | ";
	padding: 0px 5px 0px 5px;
	color: #e7d9bb;
}

header .right-header ul{
	margin-bottom: 27px;
}

.logo{
	margin: 35px 0px 37px 0px;
	display: inline-block;
}

.right-header{
	float: right;
	font-size: 13px;
	margin-top: 17px;
}

form{
	float: right;
	border-color: #e7d9bb;
	border-width: 5px 46px 7px 6px;
	border-style: solid;
	border-radius: 5px;
	position: relative;
	margin-bottom: 16px;
}

input[type="text"]{
	padding: 5px 0 5px 5px;
}

input{
	border: none;
}

input[type="submit"]{
	color: #ffffff;
	border: none;
	padding: 5px 5px 5px 7px;
	position: absolute;
	right: -40px;
	cursor: pointer;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c2612+0,26150b+100 */
	background: #3c2612; /* Old browsers */
	background: -moz-linear-gradient(top, #3c2612 0%, #26150b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3c2612 0%,#26150b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3c2612 0%,#26150b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c2612', endColorstr='#26150b',GradientType=0 ); /* IE6-9 */
}

nav{
	font-size: 15px;
	background: url('../img/menu-background.png');
	border-radius: 10px;
	padding-left: 7px;
	margin-bottom: 19px;
}

nav a{
	color: #e7d9bb;
	display: inline-block;
}

nav ul li{
	float: left;
	padding: 13px 20px 14px 7px;
}

aside{
	margin-left: 8px;
	margin-right: 13px;
	float: left;
}

aside .box a{
	font-size: 14px;
	color: #8a694c;
}

aside ul{
	padding: 10px;
}

aside h3{
	font-size: 14px;
	color: #3f3f3f;
	text-transform: uppercase;
	border-bottom: 1px;
	border-color: #8a694c;
	border-bottom-style: dashed;
	padding: 10px;
}

aside .box{
	width: 210px;
	border: 1px solid #8a694c;
	border-radius: 10px;
	background-color: #e7d9bb;
	margin-bottom: 7px;
	font-size: 14px;
}

aside li{
	padding-bottom: 10px;
}

.featured-products{
	text-align: center;
}

aside .featured-products h3{
	padding-left: 0px;
}

.featured-products p{
	color: #d43c4a;
	font-size: 13px;
}

.featured-products .view-featured{
	margin-bottom: 30px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	color: #3f3f3f;
}

.featured-products .view-featured:hover{
	text-decoration: underline;
}

.featured-products img{
	margin-bottom: 10px;
	margin-top: 15px;
}

.featured-products p{
	margin-bottom: 14px;
}

.featured-products span{
	margin-bottom: 11px;
	display: inline-block;
}

aside .details a{
	padding: 6px 8px 8px 7px;
	background-color: #362f2d;
	border-radius: 5px;
	font-size: 14px;
	color: #e7d9bb;
	font-weight: bold;
	display: inline-block;
}

.details{
	margin-bottom: 28px;
}

main{
	background-color: #fff;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 100px;
}

ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #362f2d;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: #362f2d;
    content: ">";
}

ul.breadcrumb li a {
    color: #362f2d;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #362f2d;
    text-decoration: underline;
}

.content{
	float: left;
	width: 727px;
	color: #3f3f3f;
}

.content span.displaying-products{
	font-size: 13px;
	color: #8a694c;
	margin-bottom: 23px;
	display: inline-block;
}

.content .products img{
	margin-bottom: 11px;
}

.content .products span{
	color: #3f3f3f;
	margin-bottom: 15px;
	display: inline-block;
}

.content .products p{
	color: #d43c4a;
	font-size: 13px;
	margin-bottom: 19px;
}

.products li{
	text-align: center;
	float: left;
	margin-right: 25px;
	margin-bottom: 38px;
}

.product li:nth-child(4n+4){
	margin-right: 0px;
}

.products li a{
	padding: 7px 6px 7px 5px;
	display: inline-block;
	background-color: #362f2d;
	color: #e7d9bb;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}

.products li a:hover{
	color: #a7141b;
}

footer{
	background-color: #fff;
	padding: 29px 20px 31px 20px;
	text-align: center;
	border-top-style: dashed;
	border-width: thin;
	font-size: 12px;
	color: #362f2d;
}
