/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL */

body{
	font-family: Arial;
	background-color: #000;
}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

header{
	margin-bottom: 8px;
	overflow: hidden;
} 

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

nav{
	margin-bottom: 33px;
	background-color: #1a1a1a;
}

nav ul{
	margin: 0 auto;
	width: 960px;
}

nav ul:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

nav ul li{
	float: left;
	margin-right: 2px;
	position: relative;
	border: 1px solid transparent;
	border-bottom: 0;
	border-top: 0;
}

nav ul li:last-child{
	margin-right: 0;
}

nav ul li a{
	color: #fff;
	font-size: 16px;
	display: inline-block;
}

nav ul li:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#47556c+0,29394f+100 */
	background: #47556c; /* Old browsers */
	background: -moz-linear-gradient(top, #47556c 0%, #29394f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #47556c 0%,#29394f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #47556c 0%,#29394f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47556c', endColorstr='#29394f',GradientType=0 ); /* IE6-9 */
}

/*nav .home{
	padding: 17px 72px 19px 73px;
}

nav .new-products{
	padding: 17px 45px 19px 44px;
}

nav .specials{
	padding: 17px 64px 19px 63px;
}

nav .account{
	padding: 17px 56px 19px 49px;
}

nav .contact{
	padding: 17px 52px 19px 56px;
}*/

nav li{
	width: 188px;
	text-align: center;
	padding: 17px 0;
	cursor: pointer;
}

nav ul li:hover:after{
	content: url('../img/after.png');
	position: absolute;
	top: 50px;
	left: -1px;
}

nav li:hover{
	border: 1px solid #4B525B;
	border-bottom: 0;
	border-top: 0;
}

.logo{
	display: inline-block;
}

.right-header{
	float: right;
}

.right-header li{
	float: left;
	padding-right: 20px;
}

.right-header li:hover{
	text-decoration: underline;
}

.right-header li:last-child{
	padding-right: 0;
}

.right-header a{
	color: #858585;
	font-size: 13px;
	display: inline-block;
}

.right-header a:hover{
	text-decoration: underline;
}

.right-header ul{
	margin-bottom: 30px;
	overflow: hidden;
}

form{
	float: right;
	position: relative;
}

input[type="text"]{
	padding: 10px 65px 10px 10px;
	background-color: #121212;
	border: none;
}

input::placeholder {
	color: #bdbdbd;
	font-size: 12px;
	font-style: italic;
}

input[type="submit"]{
	background: url("../img/search.png");
	width: 45px;
	height: 40px;
	cursor: pointer;
	border: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}

header{
	border-bottom: 5px solid #45597a;
}

.box{
	background-color: #1a1a1a;
	margin-bottom: 8px;
}

.box a{
	color: #a5a5a5;
	font-size: 14px;
}

.box ul{
	padding: 10px;
}

.box li{
	padding-bottom: 10px;
}

.box h3{
	padding: 18px 10px 16px 14px;
	border: 1px solid #4d4d4d;
	font-size: 14px;
	color: #fff;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#47556c+0,29394f+100 */
	background: #47556c; /* Old browsers */
	background: -moz-linear-gradient(top, #47556c 0%, #29394f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #47556c 0%,#29394f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #47556c 0%,#29394f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47556c', endColorstr='#29394f',GradientType=0 ); /* IE6-9 */
}

.featured-products{
	text-align: center;
}

.featured-products h3{
	margin-bottom: 13px;
	text-align-last: left;
}

.featured-products img{
	margin-bottom: 14px;
}

.featured-products h4{
	font-size: 13px;
	color: #a5a5a5;
	margin-bottom: 26px;
}

.featured-products p{
	margin-bottom: 16px;
	color: #405370;
	font-size: 13px;
}

.details{
	margin-bottom: 32px;
}

.details a{
	padding: 6px 8px 7px 9px;
	display: inline-block;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #fff;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2e2e+0,000000+100 */
	background: #2d2e2e; /* Old browsers */
	background: -moz-linear-gradient(top, #2d2e2e 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2d2e2e 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2d2e2e 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2e2e', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.details a:hover{
	color: #405370;
}

.all-featured:hover{
	text-decoration: underline;
}

a.all-featured{
	color: #fff;
	font-size: 12px;
	margin-bottom: 17px;
	display: inline-block;
}

aside{
	width: 227px;
	float: left;
	margin-right: 7px;
}

main{
	overflow: hidden;
	margin-bottom: 100px;
}

.displaying-products{
	color: #858585;
	font-size: 13px;
	display: inline-block;
	margin-bottom: 30px;
}

ul.breadcrumb {
    padding: 0px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: #362f2d;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: #362f2d;
    content: ">";
}

ul.breadcrumb li a {
    color: #362f2d;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #362f2d;
    text-decoration: underline;
}

.products li{
	float: left;
	text-align: center;
	margin-right: 11px;
	margin-bottom: 32px;
}

.products li:nth-child(4n+4){
	margin-right: 0;
}

.content{
	float: left;
	width: 703px;
	background-color: #fff;
	padding-left: 13px;
	padding-top: 10px;
	padding: 10px 10px 0px 13px;
}

.content ul{
	overflow: hidden;
}

.content .products p{
	color: #545556;
	font-size: 13px;
	margin-bottom: 10px;
}

.products h4{
	font-size: 13px;
	color: #000;
	margin-bottom: 14px;
}

.products img{
	margin-bottom: 16px;
}

.products a{
	padding: 7px 7px 7px 6px;
	color: #ffffff;
	font-size: 12px;
	border-radius: 5px;
	display: inline-block;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2d2e2e+0,000000+100 */
	background: #2d2e2e; /* Old browsers */
	background: -moz-linear-gradient(top, #2d2e2e 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2d2e2e 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2d2e2e 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d2e2e', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.products a:hover{
	color: #45597a;;
}

footer{
	color: #fff;
	font-size: 12px;
	padding: 33px 20px 32px 20px;
	text-align: center;
}
