.container{
	width: 926px;
	height: 472px;
	padding: 14px 19px 14px 16px;
	font-family: Arial;
	background-color: #ebebeb;
}

h2{
	color: #f2cf19;
	font-size: 24px;
}

section article p{
	color: #595959;
	font-size: 12px;
	line-height: 16px;
}

section article p{
	color: #595959;
	font-size: 12px;
	line-height: 16px;
}

img{
	float: left;
	padding-right: 18px;
}

.left{
	width: 120px;
	float: left;
}

.right{
	width: 805px;
	float: right;
}

.last-image{
	position: relative;
	top: 72px;
}

span{
	font-size: 10px;
	color: #595959;
	font-style: italic;
}

span, p{
	position: relative;
	top: -15px;
}