/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL*/

.container{
	width: 915px;
	background-color: #181818;
	border-radius: 10px;
	font-family: Arial;
	margin: 50px;
	float: left;
}

.home{
	padding: 25px 10px 20px 10px;
	float: left;
}

ul{
	list-style-type: none;
	float: left;
}

nav{
	float: left;
}

li{
	float: left;
	width: 209px;
	margin: 0px 5px 6px 0px;
}

li:first-child{
	width: 35px;
}

li a img{
	margin-right: 20px;
}

a{
	display: block;
}

.about{
	background: url('../img/about.png');
	width: 210px;
	height: 76px;
}

.about:hover{
	background: url('../img/about-1.png');
	position: relative;
	bottom: 12px;
	cursor: pointer;
}

.services{
	content: url('../img/services.png');
}

.services:hover{
	content: url('../img/services-1.png');
	position: relative;
	bottom: 12px;
	cursor: pointer;
}

.clients{
	content: url('../img/clients.png');
}

.clients:hover{
	content: url('../img/clients-1.png');
	position: relative;
	bottom: 12px;
	cursor: pointer;
}

.contact{
	content: url('../img/contact.png');
}

.contact:hover{
	content: url('../img/contact-1.png');
	position: relative;
	bottom: 12px;
	cursor: pointer;
}