/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	width: 500px;
	margin: 0 auto;
	font-family: Arial;
}

input[type=text]{
	background-color: #4a9bea;
	width: 388px;
	height: 38px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #d4d3d1;
	padding-left: 12px;
	margin-bottom: 10px;
	border: none;
	box-shadow: inset 2px 2px 5px 1px #3672ac;
}

input::placeholder{
	color: #d4d3d1;
}

label{
	margin-right: 18px;
	font-size: 12px;
	color: #848382;
	position: relative;
	top: -2px;
}

input[type="submit"]{
	text-transform: uppercase;
	color: #848382;
	border: 1px solid yellow;
	/*padding: 13px 18px 13px 18px;*/
	width: 84px;
	height: 37px;
	font-size: 12px;
	border-radius: 5px;
	cursor: pointer;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fce9b7+0,fcd05a+49,f8b80b+51,fbdc89+100 */
	background: #fce9b7; /* Old browsers */
	background: -moz-linear-gradient(top, #fce9b7 0%, #fcd05a 49%, #f8b80b 51%, #fbdc89 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fce9b7 0%,#fcd05a 49%,#f8b80b 51%,#fbdc89 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fce9b7 0%,#fcd05a 49%,#f8b80b 51%,#fbdc89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce9b7', endColorstr='#fbdc89',GradientType=0 ); /* IE6-9 */
}