/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	width: 685px;
	/*height: 453px;*/
	border: 1px solid #4a4949;
	font-family: Arial;
	font-size: 14px;
	color: #4a4949;
	padding-top: 20px;
	padding-bottom: 16px;
	margin: 0 auto;
}

input[type="text"]{
	background-color: #f68e56;
	display: block;
	width: 250px;
	height: 37px;
	border: 1px solid #4a4949;
	border-radius: 10px;
	-moz-box-shadow:    inset 2px 2px 12px #914822;
	-webkit-box-shadow: inset 2px 2px 12px #914822;
	box-shadow:         inset 2px 2px 12px #914822;

	margin-top: 10px;
	margin-bottom: 26px;
}

input[name="message"]{
	width: 526px;
	height: 182px;
	margin-bottom: 20px;
}

.left{
	float: left;
	margin-right: 25px;
}

.submit{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	border: 1px solid #4a4949;
	border-radius: 5px;
	font-size: 12px;
	width: 97px;
	height: 26px;
	float: right;
	margin-right: 75px;
	cursor: pointer;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d1d1d1+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #d1d1d1 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#d1d1d1 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#d1d1d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

form{
	padding-left: 82px;
	padding-bottom: 20px;
}
