table{
	width: 695px;
	text-align: center;
	border-collapse: collapse;
	font-size: 12px;
	font-family: Arial;
}

table td{
	border: 1px solid black;
}

table th{
	border-bottom: 1px solid black;
	font-weight: normal;
}

.text{
	width: 270px;
	border: none;
	text-align: left;
	font-size: 14px;
	text-align: justify;
	padding-left: 14px;
	line-height: 20px;
	position: relative;
	top: -20px;
}

.no-border{
	border: none;
	border-bottom: 1px solid black;
}