/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	width: 610px;
	margin: 0 auto;
}

table, th, td{
	font-family: Arial;
	font-size: 14px;
	text-align: center;
}

table th{
	background-color: #cccccc;
	padding: 25px;
	border-style: solid;
	border-width: 1px 1px 1px 0px;
	border-color: black;
}

table th:first-child{
	border-left-width: 1px;
}

table td{
	background-color: #e6e6e6;
	border-style: solid;
	border-color: black;
	border-width: 0px 1px 1px 0px;
}

table td:first-child{
	border-left-width: 1px;
}

table{
	/*border-collapse: collapse;*/
	border-collapse: separate;
	border-spacing: 0;
	width: 610px;
	height: 497px;

	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-spacing: 0px;
}

th, td{
	border: 1px solid black;
}

.different-background{
	background-color: #434343;
	color: white;
}

.lighter-background{
	background-color: #f5f5f5;
}

.italic-text{
	font-style: italic;
}

td>.italic-text{
	padding-left: 14px;
	padding: 10px;
}

table th:first-child{
	border-top-left-radius: 20px;
}

table th:last-child{
	border-top-right-radius: 20px;
}

tfoot td:last-child{
	border-bottom-right-radius: 20px;
}

tfoot td:first-child{
	border-bottom-left-radius: 20px;
}

#left-align{
	text-align: left;
	padding-left: 20px;
}

