/* GLOBAL */

*{
	margin:0;
	padding:0;
	outline:0;
}

.wrapper{
	margin: auto;
	width: 960px;
}

.box{
	font-family: Arial;
	color: #595959;
	background-color: #ebebeb;
	padding: 14px 19px 35px 16px;
	margin-bottom: 20px;
}
p{
	font-size: 12px;
	line-height: 20px;
	padding-bottom: 25px;
}

h2{
	color: #e57816;
	padding-bottom: 20px;
	font-size: 24px;
}
h3{
	color: #0cccaa;
	padding-bottom: 20px;
	font-size: 18px;
}
h4{
	color: #0b547d;
	padding-bottom: 27px;
	font-size: 14px;
}
ul{
	font-size: 12px;
	color: black;
	font-weight: bold;
	line-height: 20px;
	padding-left: 51px;
}
ol{
	padding-left: 87px;
	font-weight: normal;
}

/* END GLOBAL */


/* BOX 2 */

.box.box2 h2{
	padding-bottom: 24px;
}

.box.box2{
	padding-bottom: 19px;
}



.box.box3{
	background-color: #cccccc;
}



.box.box4 p:last-child{
	color: #000;
}



.box.box6 h2{
	text-decoration: underline;
}



.box.box7{
	color: #144307;
	padding-bottom: 20px;
}
.box.box7 h2{
	padding-top: 24px;
}

.box.box7 h3{
	padding-top: 24px;
}

.box.box7 ul{
	padding-bottom: 30px;
}

.box.box7 div:first-child{ /*not working*/
	padding-top: 0px;
}
.box.box7 > div{
	background: url(../img/border-bottom2.png) repeat-x 0 bottom
}