.container{
	width: 926px;
	height: 418px;
	background-color: #f1f1f1;
	padding: 15px;
	font-family: Arial;
}

h2{
	color: #e57816;
	font-size: 24px;
	font-weight: bold;
	text-decoration: underline;
}

section article p em{
	color: black;
	font-size: 12px;
	line-height: 20px;
}

section article p{
	color: #595959;
	font-size: 12px;
	line-height: 20px;
}

ul li{
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

ol li{
	font-weight: normal;
	line-height: 20px;
}

.episode{
	padding-left: 80px;
}