.container{
	width: 960px;
	height: 738px;
	background-color: #ebebeb;
	margin: 30px;
	padding: 15px;
	word-spacing: 2px;
	font-family: Arial
}

h2{
	color: #f2cf19;
	position: relative;
	left: 120px;
	font-weight: bold;
	font-size: 24px;
}

.textUnderTitle{
	font-size: 10px;
	font-style: italic;
	position: relative;
	left: 120px;
	top: -5px;
}

p{
	font-size: 14px;
}

aside{
	float: left;
	width: 120px;
	height: 725px;
}

.asideImages{
	display: block;
	padding-bottom: 10px;
	padding-right: 20px;
	position: relative;
	bottom: 65px;
}

.rightSide{
	float: right;
	position: relative;
	bottom: 300px;
	right: 77px;
	top: -265px;
}

.firstParagraph{
	width: 750px;
}

.secondParagraph{
	width: 930px;
}

.bigLogo{
	float: left;
	padding-right: 25px;
}

.textUnderBigLogo{
	display: block;
	text-align: center;
	font-size: 12px;
	font-style: italic;
}

.smallLogosFirstRow{
	padding-bottom: 52px;
}

.smallLogosFirstRow{
	position: relative;
	display: inline-block;
}

.smallLogosFirstRow img{
	padding-right: 27px;
}

.smallLogosSecondRow img{
	padding-right: 27px;
}

.smallLogosFirstRow p{
	position: absolute;
}

.secondTextUnderLogo{
	position: relative;
	left: 15px;
}

.thirdTextUnderLogo{
	position: relative;
	left: 150px;
}

.fourthTextUnderLogo{
	position: relative;
	left: 285px;
}

.smallLogosSecondRow p{
	position: absolute;
}

.fifthTextUnderLogo{
	position: relative;
	left: 495px;
}

.sixthTextUnderLogo{
	position: relative;
	left: 630px;
}

.seventhTextUnderLogo{
	position: relative;
	left: 765px;
}

.smallLogosFirstRow p, .smallLogosSecondRow p{
	color: #2b2b2b;
	text-decoration: underline;
	font-size: 12px;
}

.bigLogo img{
	padding-bottom: 25px;
}