/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL*/

.container{
	width: 900px;
	background-color: #ebebeb;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	box-shadow: 0px 5px 0px 0px #bcbcbc;
	font-family: Arial;
	font-size: 14px;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	overflow: hidden;
}

li{
	float: left;
	padding: 12px 18px 12px 0px;
}

li:last-child{
	padding-right: 30px;
}

a{
	text-decoration: none;
	color: #7a7a7a;
	background-color: #9ccbd3;
	border-radius: 5px;
	display: block;
}

.right-aligned-menu{
	float: right;
}

.home{
	color: white;
	background-color: #a3d39c;
}

.home:hover{
	color: white;
	background-color: #d7d7d7;
}

a:hover{
	color: #7a7a7a;
	background-color: #d7d7d7;
}

.home{
	padding: 9px 12px 10px 12px;
}

.about{
	padding: 9px 7px 10px 7px;
}

.services{
	padding: 9px 8px 10px 8px;
}

.clients{
	padding: 9px 7px 10px 7px;
}

.contact{
	padding: 9px 7px 10px 7px;
}

.smth{
	padding: 9px 8px 10px 5px;
}