/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/*END GLOBAL*/

.container{
	width: 900px;
	font-size: 14px;
	font-family: Arial;
	margin: 0 auto;
}

ul{
	list-style-type: none;
	margin-left: 13px;
}

.firstNav ul{
	float: right;
	overflow: hidden;
}

.firstNav li{
	float: left;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left: 5px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,d7d7d7+100 */
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #d7d7d7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#d7d7d7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eeeeee 0%,#d7d7d7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d7d7d7',GradientType=0 ); /* IE6-9 */
}

.firstNav li:hover{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a9bea+0,4a9bea+100 */
	background: #4a9bea; /* Old browsers */
	background: -moz-linear-gradient(top, #4a9bea 0%, #4a9bea 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4a9bea 0%,#4a9bea 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4a9bea 0%,#4a9bea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a9bea', endColorstr='#4a9bea',GradientType=0 ); /* IE6-9 */
}

.firstNav a{
	color: #7a7a7a;
	text-decoration: none;
	display: block;
}

.firstNav a:hover{
	color: white;
}

.secondNav li{
	float: left;
	padding-right: 13px;
}

.secondNav ul{
	/*overflow: hidden;*/
	height: 30px;
}
.secondNav a{
	color: #d9d9d9;
	text-decoration: none;
	display: inline-block;
	padding: 10px 13px 8px 0px;
}
.secondNav{
	width: 900px;
	background-color: #4a9bea;
	overflow: hidden;
}

.secondNav a:hover{
	color: white;
}

.secondNav ul li:after {
	content: "|";
}
.secondNav ul li:last-child:after {
	content: "";
}

.home{
	padding: 9px 12px 10px 12px;
}

.about{
	padding: 9px 7px 10px 7px;
}

.services{
	padding: 9px 8px 10px 8px;
}

.clients{
	padding: 9px 7px 10px 7px;
}

.contact{
	padding: 9px 7px 10px 7px;
}


/*.home{
	padding: 9px 27px 10px 20px;
}

.about{
	padding: 9px 15px 10px 15px;
}

.services{
	padding: 9px 15px 10px 15px;
}

.clients{
	padding: 9px 20px 10px 21px;
}

.contact{
	padding: 9px 20px 10px 16px;
}*/