button{
	color: #aba6a6;
	font-size: 18px;
	font-family: Arial;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,cecece+100 */
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top, #ebebeb 0%, #cecece 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ebebeb 0%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ebebeb 0%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */

	border: 0px;
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	cursor: pointer;
}
.add:hover{
	color: black;
}

.edit:hover{
	color: black;
}

.upload:hover{
	color: black;
}

.download:hover{
	color: black;
}

.save:hover{
	color: black;
}

.delete:hover{
	color: black;
}