.container{
	font-family: Arial;
	font-size: 18px;
	width: 300px;
	margin: 0 auto;
}

a{
	color: #c8c7c7;
	padding: 5px 9px 4px 10px;
	border: 1px solid black;
	text-decoration: none;
/*	border-right: none;*/
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 20px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54585c+1,353535+100 */
	background: #54585c; /* Old browsers */
	background: -moz-linear-gradient(top, #54585c 1%, #353535 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #54585c 1%,#353535 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #54585c 1%,#353535 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54585c', endColorstr='#353535',GradientType=0 ); /* IE6-9 */
}

ul{
	list-style-type: none;
}

.next-page{
	position: relative;
}

.next-page::after{
	position: absolute;
	content: "";
	width: 35px;
	height: 31px;
	bottom: 0;
	left: 100px;
	background: url("../img/next-page.png");
}

.next-page:hover::after {
	background: url("../img/next-page-hover.png");
}

.previous-page{
	position: relative;
	padding-left: 43px;
}

.previous-page::before{
	position: absolute;
	content: "";
	width: 35px;
	height: 31px;
	bottom: 0;
	left: 0;
	background: url("../img/previous-page.png");
}

.previous-page:hover::before {
	background: url("../img/previous-page-hover.png");
}

.home-page{
	position: relative;
}

.home-page::after{
	position: absolute;
	content: "";
	width: 35px;
	height: 31px;
	bottom: 0;
	left: 125px;
	background: url("../img/home-page.png");
}

.home-page:hover::after {
	background: url("../img/home-page-hover.png");
}
