.container{
	margin: 20px;
	font-family: Arial;
}

.first{
/*	width: 206px;
	height: 45px;*/
	background-color: #000000;
	color: white;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 17px;
	font-size: 18px;
	font-family: Arial;
	border-radius: 5px;
	text-decoration: none;
	border: 1px solid #5a5a5a;
}

/*.second{
	width: 233px;
	height: 65px;
	padding: 23px 17px 25px 15px;
	font-size: 24px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bebebe+0,eeeeee+100 */
	background: #bebebe; /* Old browsers */
	background: -moz-linear-gradient(top, #bebebe 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #bebebe 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #bebebe 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.first{
	display: block;
}

.second{
	display: block;
	width: 233px;
	height: 65px;
	padding: 10px;
	font-size: 24px;
	color: black;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 33px;
	border-radius: 5px;
	border: 1px solid #dedede;

	background: #bebebe; /* Old browsers */
	background: -moz-linear-gradient(top, #bebebe 0%, #eeeeee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #bebebe 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #bebebe 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

}

.third{
	width: 200px;
	height: 40px;
	position: relative;
	top: 60px;
	background-color: #9e0b0f;
	padding-left: 19px;
	padding-right: 27px;
	padding-top: 12px;
	padding-bottom: 15px;
	text-decoration: none;
	color: white;
	font-family: Arial;
	border: 1px solid black;
	font-size: 18px;
}

.fourth{
	width: 270px;
	height: 74px;
	position: relative;
	top: 150px;
	left: -212px;
	text-decoration: none;
	font-size: 24px;
	background-color: #007378;
	padding-left: 32px;
	padding-bottom: 28px;
	padding-right: 29px;
	padding-top: 28px;
	color: white;
	border-radius: 5px;
}

.fifth{
	width: 165px;
	height: 52px;
	position: relative;
	top: 250px;
	left: -491px;
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-size: 24px;
	border: 1px solid black;
	border-radius: 5px;
	padding-left: 24px;
	padding-bottom: 18px;
	padding-right: 30px;
	padding-top: 18px;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#705c2e+0,a28542+100 */
	background: #705c2e; /* Old browsers */
	background: -moz-linear-gradient(top, #705c2e 0%, #a28542 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #705c2e 0%,#a28542 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #705c2e 0%,#a28542 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#705c2e', endColorstr='#a28542',GradientType=0 ); /* IE6-9 */
}

.sixth{
	width: 265px;
	height: 38px;
	border: 1px solid #76c497;
	background-color: #3cb878;
	color: #1d4607;
	font-size: 24px;
	text-decoration: none;
	position: relative;
	top: 320px;
	left: -665px;
	padding-left: 25px;
	padding-right: 31px;
	padding-bottom: 11px;
	padding-top: 10px;
}

.seventh{
	width: 218px;
	height: 52px;
	color: #0f6c6f;
	font-size: 24px;
	text-decoration: none;
	padding-left: 29px;
	padding-top: 16px;
	padding-right: 29px;
	padding-bottom: 14px;
	background-color: #7accc8;
	border-radius: 5px;
	position: relative;
	top: 400px;
	left: -940px;
}

.eighth{
	width: 250px;
	height: 50px;
	color: white;
	font-size: 24px;
	border: 2px solid #974273;
	border-radius: 5px;
	position: relative;
	top: 480px;
	left: -1162px;
	text-decoration: none;
	padding-left: 22px;
	padding-bottom: 17px;
	padding-right: 20px;
	padding-top: 15px;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9c798c+0,971963+100 */
	background: #9c798c; /* Old browsers */
	background: -moz-linear-gradient(top, #9c798c 0%, #971963 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #9c798c 0%,#971963 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #9c798c 0%,#971963 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c798c', endColorstr='#971963',GradientType=0 ); /* IE6-9 */
}

.ninth{
	width: 200px;
	height: 50px;
	color: black;
	border: 1px solid black;
	background-color: #d5cc1d;
	padding-left: 38px;
	padding-right: 50px;
	padding-bottom: 17px;
	padding-top: 15px;
	position: relative;
	top: 540px;
	text-decoration: none;
	font-size: 24px;
	border-radius: 5px;
	text-transform: uppercase;
}

.tenth{
	width: 255px;
	height: 50px;
	font-size: 24px;
	color: white;
	border: 1px solid #2e6d95;
	padding-top: 15px;
	padding-bottom: 18px;
	padding-left: 25px;
	padding-right: 20px;
	text-decoration: none;
	position: relative;
	top: 630px;
	left: -210px;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#146faa+0,5b6973+100 */
	background: #146faa; /* Old browsers */
	background: -moz-linear-gradient(top, #146faa 0%, #5b6973 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #146faa 0%,#5b6973 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #146faa 0%,#5b6973 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#146faa', endColorstr='#5b6973',GradientType=0 ); /* IE6-9 */
}

.eleventh{
	width: 220px;
	height: 55px;
	color: black;
	border: 1px solid #6f3694;
	text-decoration: none;
	padding-top: 18px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 14px;
	position: relative;
	top: 720px;
	left: -475px;
	font-size: 22px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#672e92+0,985abc+100 */
	background: #672e92; /* Old browsers */
	background: -moz-linear-gradient(top, #672e92 0%, #985abc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #672e92 0%,#985abc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #672e92 0%,#985abc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#672e92', endColorstr='#985abc',GradientType=0 ); /* IE6-9 */
}

.twelfth{
	width: 300px;
	height: 93px;
	text-transform: uppercase;
	color: black;
	font-size: 30px;
	padding-top: 38px;
	padding-bottom: 34px;
	padding-left: 28px;
	padding-right: 22px;
	border: 1px solid black;
	background-color: #f26c4f;
	position: relative;
	top: 840px;
	left: -705px;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 5px 5px #b3b3b3;
}

.thirteenth{
	width: 215px;
	height: 50px;
	padding-top: 18px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 17px;
	color: white;
	font-size: 21px;
	text-decoration: none;
	background-color: #a1a1a1;
	border: 1px solid #b4b4b4;
	border-radius: 5px;
	position: relative;
	top: 940px;
	left: -1012px;
}

.fourteenth{
	
	padding-top: 15px;
	padding-left: 38px;
	padding-bottom: 19px;
	padding-right: 40px;
	font-size: 24px;
	color: #626262;
	border: 1px solid #139fd4;
	border-radius: 5px;
	text-decoration: none;
	background-color: #00aeef;
	position: absolute;
	left: 20px;
	top: 1170px;
}