/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	font-family: Arial;
	font-size: 18px;
	color: #aba6a6;
	width: 190px;
	margin: 0 auto;
}

ul{
	list-style-type: none;
}

li{
	display: inline-block;
	float: none;
}

span{
	display: inline-block;
}

a{
	display: block;	
	margin-bottom: 20px;
	border-radius: 5px;
	text-decoration: none;
	color: #aba6a6;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebebeb+0,cecece+100 */
	background: #ebebeb; /* Old browsers */
	background: -moz-linear-gradient(top, #ebebeb 0%, #cecece 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ebebeb 0%,#cecece 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ebebeb 0%,#cecece 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
}

a:hover{
	color: #000000;
}

/*span{
	padding-left: 15px;
}*/

.add{
	padding: 15px 42px 17px 14px;
	position: relative;
}

.add span{
	background: url('../img/plus.png');
	width: 23px;
	height: 26px;
	padding: 0;
	position: absolute;
	right: 13px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.add span:hover{
	background: url(../img/plus-hover.png);
}

.add-li:hover span {
	background: url(../img/plus-hover.png);
}


.edit{
	padding: 18px 55px 15px 14px;
	position: relative;
}

.edit span{
	background: url('../img/pencil.png');
	width: 24px;
	height: 24px;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.edit-li:hover span{
	background: url('../img/pencil-hover.png');
}

.upload span{
	background: url('../img/up-arrow1.png');
	width: 19px;
	height: 11px;
	padding: 0;
	position: absolute;
	right: 19px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.upload-li:hover span{
	background: url('../img/up-arrow hover1.png');

}

.upload{
	padding: 18px 54px 15px 14px;
	position: relative;
}

.download span{
	background: url('../img/down-arrow1.png');
	width: 19px;
	height: 11px;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.download-li:hover span{
	background: url('../img/down-arrow-hover.png');
}

.download{
	padding: 18px 55px 17px 15px;
	position: relative;
}

.save span{
	background: url('../img/folder.png');
	width: 23px;
	height: 26px;
	padding: 0;
	position: absolute;
	right: 16px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.save-li:hover span{
	background: url('../img/folder-hover.png');
}

.save{
	padding: 17px 55px 18px 14px;
	position: relative;
}

.delete{
	padding: 18px 50px 16px 14px;
	position: relative;
}

.delete span{
	background: url('../img/delete.png');
	width: 24px;
	height: 24px;
	padding: 0;
	position: absolute;
	right: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
}

.delete-li:hover span{
	background: url('../img/delete-hover.png');
}
