.container{
	font-family: Arial;
	font-size: 18px;
	color: #000;
	width: 280px;
	margin: 0 auto;
}

ul{
	list-style-type: none;
}

li{
	margin-bottom: 30px;
	display: inline-block;
}

a{
	text-decoration: none;
	color: white;
	display: block;
	border: 1px solid black;
}

.text-under{
	font-size: 14px;
}

.comment, 
.edit,
.favorites,
.upload,
.search,
.article
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#323336+0,121212+100 */
	background: #323336; /* Old browsers */
	background: -moz-linear-gradient(top, #323336 0%, #121212 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #323336 0%,#121212 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #323336 0%,#121212 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323336', endColorstr='#121212',GradientType=0 ); /* IE6-9 */
}

.bookmark{
	padding: 6px 70px 6px 10px;
	border-radius: 5px;
	border: 1px solid black;
	position: relative;


	background: #646464; /* Old browsers */
	background: -moz-linear-gradient(top, #646464 0%, #242424 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #646464 0%,#242424 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #646464 0%,#242424 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646464', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}

.comment{
	padding: 5px 60px 5px 11px;
	position: relative;
}

.edit{
	padding: 5px 56px 5px 11px;
	word-spacing: 5px;
	position: relative;
}

.favorites{
	padding: 5px 60px 5px 11px;
	position: relative;
}

.upload{
	padding: 5px 55px 5px 10px;
	word-spacing: 5px;
	position: relative;
}

.search{
	padding: 5px 56px 5px 9px;
	word-spacing: 5px;
	position: relative;
}

.article{
	padding: 5px 52px 5px 11px;
	word-spacing: 5px;
	position: relative;
}

/****************************/

.bookmark::after{
	position: absolute;
	content: "";
	background: url('../img/bookmark2.png');
	width: 36px;
	height: 60px;
	right: 10px;
	bottom: 0px;
}

.bookmark:hover::after{
	background: url('../img/bookmark-hover3.png');
}

/*.comment::after{
	position: absolute;
	content: "";
	background: url('../img/comment1.png');
	width: 36px;
	height: 34px;
	right: 10px;
	top: 0;
}*/
/*
.comment-li:hover span{
	background: url('../img/comment-hover.png');
}*/


.comment{
	position: relative;
}

.comment:hover::after {
	background: url("../img/comment-hover1.png");
}

.comment::after {
	position: absolute;
	content: "";
	background: url("../img/comment1.png");
	width: 36px;
	height: 36px;
	bottom: 0;
	right: 10px;
}

.edit::after{
	position: absolute;
	content: "";
	background: url('../img/edit1.png');
	width: 36px;
	height: 36px;
	right: 10px;
	bottom: 0;
}

.edit:hover::after{
	background: url('../img/edit-hover1.png');
}

.favorites::after{
	position: absolute;
	content: "";
	background: url('../img/favorites1.png');
	width: 36px;
	height: 36px;
	bottom: 0;
	right: 10px;
}

.favorites:hover::after{
	background: url('../img/favorites-hover2.png');
}

.upload::after{
	position: absolute;
	content: "";
	background: url('../img/upload1.png');
	width: 34px;
	height: 36px;
	right: 10px;
	bottom: 0;
}

.upload:hover::after{
	background: url('../img/upload-hover2.png');
}

.search::after{
	position: absolute;
	content: "";
	background: url('../img/search2.png');
	width: 34px;
	height: 36px;
	right: 10px;
	bottom: 0;
}

.search:hover::after{
	background: url('../img/search-hover2.png');
}

.article::after{
	position: absolute;
	content: "";
	background: url('../img/latest1.png');
	width: 36px;
	height: 36px;
	right: 10px;
	bottom: 0;
}

.article:hover::after{
	background: url('../img/latest-hover2.png');
}