/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	font-family: Arial;
	font-size: 11px;
	color: #848382;
	width: 301px;
	margin: 0px auto;

}

input[type="text"]{
	display: block;
	width: 297px;
	height: 38px;
	border-radius: 10px;
	background-color: #d0eaff;
	border: none;
	margin-bottom: 17px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	margin-top: 20px;

	-moz-box-shadow:    inset 1px 1px 2px grey;
	-webkit-box-shadow: inset 1px 1px 2px grey;
	box-shadow:         inset 1px 1px 2px grey;
}

input[type="password"]{
	width: 282px;
	height: 38px;
	border-radius: 10px;
	font-size: 18px;
	color: #7dabcf;
	padding-left: 15px;
	background-color: #d0eaff;
	border: none;
	border-top: 1px solid black;
	border-left: 1px solid black;
	margin-bottom: 17px;

	-moz-box-shadow:    inset 1px 1px 2px grey;
	-webkit-box-shadow: inset 1px 1px 2px grey;
	box-shadow:         inset 1px 1px 2px grey;
}

input[type="submit"]{
	width: 117px;
	height: 30px;
	cursor: pointer;
	border:none;
	border-radius: 5px;
	text-transform: uppercase;
	color: #848382;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfcf4+0,dadbc6+100 */
	background: #fbfcf4; /* Old browsers */
	background: -moz-linear-gradient(top, #fbfcf4 0%, #dadbc6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #fbfcf4 0%,#dadbc6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fbfcf4 0%,#dadbc6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcf4', endColorstr='#dadbc6',GradientType=0 ); /* IE6-9 */
}

span{
	text-decoration: underline;
}

.submit{
	margin: auto;
	width: 50%;
}

label[for="user-login"]{
	font-size: 18px;
	color: black;

	-webkit-text-fill-color: #cce0f1; /* light blue */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #bcccd9;

	text-shadow: 1px 1px #bcccd9;
}

a{
	text-decoration: none;
	margin-bottom: 20px;
	color: #848382;
	display: inline-block;
}

.remember-me{
	margin-bottom: 10px;
}

.remember-me label{
	position: relative;
	top: -3px;
}
