/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	font-family: Arial;
	font-size: 14px;
	color: #4a4949;
	width: 600px;
	margin: 0 auto;
}

input[type="text"]{
	display: block;
	background-color: #fff799;
	border-radius: 10px;
	width: 239px;
	height: 36px;
	margin-bottom: 26px;
	padding-left: 10px;

	border-right: 1px solid grey;
	border-bottom: 1px solid grey;

	-webkit-box-shadow:inset 2px 2px 12px #b5b074;
	-moz-box-shadow:inset 2px 2px 12px #b5b074;
	box-shadow:inset 2px 2px 12px #b5b074;
}

span{
	color: #ff705d;
}

input[value="submit"],
input[value="clear"]
{
	color: #4a4949;
	font-size: 12px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 5px;
	text-transform: uppercase;
	background-color: white;
	width: 67px;
	height: 21px;
	cursor: pointer;
}

textarea{
	display: block;
	resize: none;
	width: 378px;
	height: 182px;
	margin-bottom: 20px;
	border: 1px solid grey;
	border-radius: 10px;
	background-color: #fff799;
	padding: 10px 0px 0px 10px;

	-webkit-box-shadow:inset 2px 2px 12px #b5b074;
	-moz-box-shadow:inset 2px 2px 12px #b5b074;
	box-shadow:inset 2px 2px 12px #b5b074;
}

label{
	display: inline-block;
	margin-bottom: 5px;
}