/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	color: #8f7350;
	font-family: Arial;
	font-size: 12px;
	width: 469px;
	margin: 0 auto;
}

h2{
	font-size: 14px;
	padding-left: 15px;
	margin-bottom: 12px;
}

hr{
	width: 470px;
	margin-bottom: 30px;
}

input{
	width: 235px;
	margin-bottom: 7px;
	padding: 2px;
	padding-left: 5px;
}

select{
	margin-bottom: 7px;
}

label{
	width: 125px;
	float: left;
	text-align: right;
	margin-right: 10px;
	margin-top: 4px;
}

input[name="register"]{
	background-image: url('../img/register.png');
	width: 100px;
	color: white;
	border: none;
	height: 25px;
	width: 100px;
	text-align: center;
	padding-left: 10px;
	padding-top: 5px;
	cursor: pointer;
}

img{
	position: relative;
	top: 5px;
}

.registration{
	/*width: 388px;*/
	/*text-align: right;
	position: relative;
	left: -85px;*/
	float: right;
	padding: 0px 80px 0px 0px;
}

input::placeholder{
	color: #e1e1e1;
}