.container{
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #546e1f;
	width: 526px;  //546px
	height: 527px;
	background-color: #cce792;
	padding-left: 5px;

	border: 5px solid white;
	outline: 2px solid lightgrey;
}

header{
	width: 534px;
	height: 52px;
}

input[name="back"]{
	background-image: url(../img/form12-left.png);
	border: none;
	width: 130px;
	height: 30px;
	text-align: center;
	padding-left: 10px;
	padding-top: 7px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

input[name="step-2"]{
	background-image: url('../img/form12-right.png');
	border: none;
	width: 130px;
	height: 30px;
	text-align: center;
	padding-left: 0px;
	padding-top: 12px;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

hr{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

label{
	width: 152px;
	float: left;
	text-align: right;
	padding-right: 5px;
	margin-top: 15px;
}

input[name="full-name"],
input[name="email"],
input[name="username"],
input[name="password"],
input[name="re-type-password"]
{
	position: relative;
	top: -15px;
}

input{
	width: 290px;
	height: 28px;
	border-radius: 5px;
}

img{
	/*position: relative;
	top: -5px;*/
}

.footer div{
	display: inline;
}

.footer{
	padding-left: 130px;
}

span{
	background-image: url('../img/1-.png');
	width: 150px;
	height: 55px;
}

header ul{
	list-style-type: none;
}
li{
	display: inline-block; /*float left*/
}

.register{
	width: 134px;
	height: 51px;
	background-color: #ffa800;
	color: white;
	font-size: 18px;
	text-align: center;
}

.step-name{
	width: 134px;
	height: 51px;
	background-color: #84a63d;
	color: white;
	font-size: 18px;

}
.step-name-2{
	width: 134px;
	height: 51px;
	background-color: #ffa800;
	color: white;
	font-size: 18px;

}
