/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	width: 570px;
	font-family: Arial;
	font-size: 14px;
	margin: 0 auto;
}

span{
	color: #d4d3d3;
}

input[type="text"]{
	width: 267px;
	height: 36px;
	background-color: #f5f5f5;
	border: 1px solid black;
	display: block;
	padding-left: 10px;
}

input[name="submit"]{
	width: 145px;
	height: 35px;
	background-color: #a1a1a1;
	color: white;
	border:1px solid black;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}

.left{
	float: left;
}

.right{
	float: right;
}

label{
	margin-bottom: 10px;
	display: inline-block;
}

input{
	margin-bottom: 30px;
}

input[name="message"]{
	
}

#submitButton{
	margin-top: 0px;
}

textarea{
	display: block;
	resize: none;
	width: 560px;
	height: 176px;
	background-color: #f5f5f5;
	border: 1px solid black;
	padding: 10px 0px 0px 10px;
	margin-bottom: 20px;
}