/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

.container{
	width: 719px;
	height: 323px;
	font-family: Arial;
	color: #626262;
	font-size: 14px;
}

table{
	border-collapse: collapse;
	background-color: #e6e6e6;
}

table, td, th{
	border: 1px solid black;
}

th{
	color: #626262;
	font-size: 14px;
	text-align: left;
	background-color: #c2c2c2;
	height: 37px;
	padding-left: 22px;
}

.third-line{
	background-color: #a1a1a1;
	color: #626262;
}

.bold-text{
	font-weight: bold;
	color: #626262;
	width: 146px;
	height: 64px;
	text-align: center;
}

.nested-table{
	width: 280px;
	height: 150px;
	text-align: center;
}

.nine{
	background-color: black;
	color: white;
}

.leftColumn{
	wid th: 442px;
	heig ht: 151px;
	padding-left: 21px;
	padding-right: 37px;
	font-size: 12px;
	line-height: 18px;
}

.white{
	background-color: #ffffff;
}

.third-line p{
	margin-left: 21px;
	margin-right: 119px;
}

.last-paragraph{
	padding-left: 28px;
	word-break: keep-all;
	padding-top: 5px;
	width: 425px;
	word-break: keep-all;
}