/* GLOBAL */
*{
    margin:0;
    padding:0;
    outline:0;
}
/* END GLOBAL */

.container{
    width: 719px;
    height: 323px;
    font-family: Arial;
    color: #626262;
    font-size: 14px;
    margin: 0 auto;
}

table {
    background-color: lightblue;
    border-collapse: collapse;
    width: 720px;
    background-color: #E6E6E6;
    font-family: Arial;
    border-collapse: collapse;
    background-color: #e6e6e6;
}
 
th,
td {
    border: 1px solid #626262;
}
 
table thead {
    background-color: #C2C2C2;
    text-align: left;
}

/*first nested table*/
.nested-table{
    width: 280px;
    height: 150px;
    text-align: center;
}

.nine{
    background-color: black;
    color: white;
}
 
.nested-table td {
    border: 1px solid #626262;
}
 
.nested-table {
    border-collapse: collapse;
}
 
.nested-table td,
.nested-table th {
    border: 1px solid #626262;
}
 
.nested-table tr:first-child td {
    border-top: 0;
}
 
.nested-table tr:last-child td {
    border-bottom: 0;
}
 
.nested-table tr td:first-child,
.nested-table tr th:first-child {
    border-left: 0;
}
 
.nested-table tr td:last-child,
.nested-table tr th:last-child {
    border-right: 0;
}
/*end first nested table*/

 

 /*second nested table*/

.nested-table-2 {
    border-collapse: collapse;
}
 
.nested-table-2 td,
.nested-table-2 th {
    border: 1px solid #626262;
}
 
.nested-table-2 tr:first-child td {
    border-top: 0;
}
 
.nested-table-2 tr:last-child td {
    border-bottom: 0;
}
 
.nested-table-2 tr td:first-child,
.nested-table-2 tr th:first-child {
    border-left: 0;
}
 
.nested-table-2 tr td:last-child,
.nested-table-2 tr th:last-child {
    border-right: 0;
}
 /* end second nested table*/


.third-line{
    background-color: #a1a1a1;
    color: #626262;
    padding: 17px 156px 20px 20px;
}

.white{
    background-color: white;
}

td strong{
    padding: 28px 31px 27px 28px;
}

.last-td{
    padding: 17px 0px 17px 19px;
}

.leftColumn{
    padding: 20px 37px 40px 20px;
    font-size: 12px;
    line-height: 18px;
    color: #626262;
}

th{
    color: #626262;
    font-size: 14px;
    text-align: left;
    background-color: #c2c2c2;
    height: 37px;
    padding-left: 22px;
}