/* GLOBAL */
*{
	margin:0;
	padding:0;
	outline:0;
}
/* END GLOBAL */

table{
	border-collapse: collapse;
	font-family: Arial;
	text-align: center;
	font-size: 14px;
	color: #626262;
	width: 808px;
	margin: 0 auto;
}

table, td, th{
	border: 1px solid black;
}

.action{
	text-decoration: underline;
	width: 139px;
}

th{
	background-color: #c2c2c2;
	font-weight: normal;
	color: #626262;
	height: 35px;
}

td{
	height: 33px;

}

tr:nth-child(even){
	background-color: #e1e1e1;
}

a{
	color: #626262;
}